.data-table-info
{
    margin: 8px;
    align-content: left;
    text-align: left;
}

#data-table-paragraph
{
    font-size: small;
}

#advisor-data-table
{
    border-radius: 8px;
    width: 50%;
    margin: auto;
    border: 1px solid grey;
}

#student-data-table
{
    border-radius: 8px;
    width: 75%;
    margin: auto;
    border: 1px solid grey;
}