html{
    background-color: #ffffff;
    min-width: 320px;
    width: auto;
}
.submit-button{
    color: #ffffff;
    margin: 15px;
    width: 100px;
}
.contact-form {
    width: 80%;
    margin-bottom: 5px;
}
.date-picker{
    text-align: center;
}