button.Scorecards.btn.btn-primary,
button.Problems.btn.btn-primary{
  background-color: var(--primary);
  border: solid 1px black;
  font-size: 14px;
  padding: 14px;
  margin: .5rem;
  display: inline;
}
button.Scorecards.btn.btn-primary:hover,
button.Problems.btn.btn-primary:hover{
    padding: 10px;
    border: solid 4px black;
  }
.InlineButtons{
    display: inline;
}

.event-body{
    padding: 10px;
    text-align: center;
    align-content: center;
    background-color: white;
}

.jumbotron{
    margin-bottom: 4em;
    height: 350px;
    text-align: center;
    background-color: #ffffff;
}

.pdf{
    width: 100%;
    height: 1000px;
    text-align: center;
}