.home{
    height: 1000px;
    width: auto;
    /* background-image: url("../img/website-background.png"); */
}
.banner{
    height: 150px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#article-field{
    margin-top: 25px;
    width: auto;
    width: 100%;
    height: auto;
}
#news-article{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    height: auto;
    word-wrap: break-word;
}
#logo{
    margin: auto;
    height: 25%;
    width: 25%;
    text-align: center;
}
#title{
    text-align: center;
    font-size: 4em;
    font-family: Playfair Display, Times, serif;
    font-weight: 700;
}
#header{
    text-align: center;
    font-family: Playfair Display, Times, serif;
}
#description-paragraph{
    text-align: justify;
    font-family: Playfair Display, Times, serif;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
.card{
    background-color: #D1D1D1;
    margin: auto;
    width: '18rem'
}