.LoginBox {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
  flex-direction: column;
  margin: 20px;
}
.RegisterBox {
  text-align: center;
  margin: 2px;
  background-color: #ffffff;
}
.register-button {
  margin: 15px;
}
.login-button {
  margin: 15px;
}
