input[type='checkbox']:checked 
{
    background-color: #512888;
    border: 1px solid #512888;
}

input[type='checkbox']:checked:after 
{
    color:white;
}

.btn
{
    background-color: #512888;
    color: white;
    border: 1px solid #512888;
    font-size: 16;
}

.btn:hover
{
    background-color: grey;
    border: 1px solid grey;
}

.progress-bar
{
    background-color: #512888;
    color: white;
}

/* Classes - Can be used by multiple components */
.add-margin 
{
    width: 25%;
    min-width: 350px;
    margin: auto;
    align-content: left;
    text-align: left;
}

.data-table-info
{
    margin: 8px;
    align-content: left;
    text-align: left;
}

/* IDs - Component Specific */
#nav-bar-margin
{
    /* position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .1s; */
    
    right: 0;
    left: auto;
}

#purple-progress
{
    background-color: #512888;
    color: white;
}

#data-table-paragraph
{
    font-size: small;
}

#advisor-data-table
{
    border-radius: 8px;
    width: 50%;
    min-width: 350px;
    margin: auto;
    border: 1px solid grey;
    padding: 2px;
}

#student-data-table
{
    border-radius: 8px;
    width: 75%;
    min-width: 350px;
    margin: auto;
    border: 1px solid grey;
    padding: 2px;
}